log/*
tmp/*
tmp/**/*
.DS_Store
config/app_config.yml
config/database.yml
config/fuzzy.yml
config/password.txt
db/*.sqlite3
.idea/*
.bundle
.sass-cache
public/assets
.rvmrc
.powrc
bin/
solr/*
public/images/screenshots
public/images/users
