.DS_Store
.bundle
.env
.idea/*
.powrc
.rvmrc
.ruby-version
.sass-cache
bin/
config/app_config.yml
config/database.yml
config/fuzzy.yml
config/password.txt
db/*.sqlite3
latest.dump
log/*
public/assets
public/images/screenshots
public/images/users
tmp/*
tmp/**/*