log/*
tmp/*
tmp/**/*
.DS_Store
config/database.yml
config/password.txt
public/stylesheets/*
public/images/screenshots/*
public/images/users/avatars/*
db/development.sqlite3
db/test.sqlite3
.idea/*
.bundle
