html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: black;
  color: #98908c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  color: white;
  font-size: 24px;
  margin: 12px 0; }

h2 {
  color: white;
  font-size: 18px;
  margin: 0 0 0 0; }

form {
  margin: 12px 0; }
  form input, form textarea, form select {
    color: #666666;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 3px 0 12px 0;
    padding: 3px; }
  form select {
    margin: 0;
    padding: 0; }
  form input[type=submit] {
    color: black; }
  form input[type=hidden] {
    display: none; }
  form label {
    display: block;
    font-size: 16px; }
  form .check_box input, form label {
    display: inline; }
  form .check_box input[type=hidden] {
    display: none; }
  form .select {
    margin: -9px 0 0 0; }
    form .select select {
      display: inline; }
  form input[type=text],
  form input[type=password],
  form textarea {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: none;
    padding: 6px;
    width: 305px; }
  form #podcast_screenshot {
    color: #98908c;
    font-size: 14px; }

p + h2 {
  padding-top: 18px; }

p {
  line-height: 20px;
  margin: 12px 0; }
  p strong {
    display: block; }

a {
  color: white; }
  a:hover {
    text-decoration: none; }

td {
  padding: 12px;
  font-size: 24px;
  vertical-align: middle; }

#page {
  margin: 20px auto 30px auto;
  width: 900px; }

#login {
  color: #bf2022;
  height: 30px;
  text-align: left;
  font-size: 14px;
  margin: 10px 10px 5px 5px; }
  #login a {
    color: #98908c;
    font-weight: normal; }
  #login a.name {
    color: #bf2022;
    font-weight: bold;
    text-decoration: none; }
    #login a.name:hover {
      text-decoration: underline; }
  #login img {
    border: 1px solid #333333;
    margin: -5px 5px 0 0;
    float: left; }
    #login img:hover {
      border: 1px solid #222222; }
  #login .text {
    display: block;
    font-weight: bold;
    float: left;
    padding: 0 0 0 0; }

#header {
  background: white no-repeat;
  height: 133px; }
  #header #logo {
    float: left;
    margin: 20px 0 0 30px; }
  #header #upcoming {
    color: #312218;
    float: left;
    font-size: 16px;
    height: 100px;
    margin: 30px 0 0 170px;
    width: 235px; }
    #header #upcoming span {
      color: #666666;
      font-size: 14px; }
    #header #upcoming #date {
      color: #81161e;
      font-size: 20px;
      font-weight: bold;
      margin: 3px 0; }
    #header #upcoming a {
      color: #97908a; }
    #header #upcoming a#venue {
      color: #312218;
      text-decoration: none; }
      #header #upcoming a#venue:hover {
        text-decoration: underline; }
    #header #upcoming #actions {
      font-size: 14px;
      margin: 3px 0 0 0; }
      #header #upcoming #actions a {
        margin: 0 3px 0 0; }
      #header #upcoming #actions img {
        float: right;
        margin: 0 30px 0 0; }
  #header #podcast {
    float: right;
    margin: 15px 15px 0 0; }

#slogan {
  background: #3e0a06;
  color: #c60d22;
  font-size: 18px;
  font-weight: bold;
  height: 36px;
  padding: 20px; }

#navigation {
  background: #2f2016;
  font-size: 18px !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }
  #navigation ul {
    height: 34px;
    padding-left: 20px; }
    #navigation ul li {
      border-right: 1px solid #1e1610;
      display: block;
      float: left;
      padding: 8px 20px;
      text-shadow: 2px 2px 2px #222222; }
      #navigation ul li a {
        color: #98908c;
        text-decoration: none; }
        #navigation ul li a:hover {
          color: white;
          text-shadow: 1px 1px 0 black; }
  #navigation li.active {
    background: #412a1d; }
    #navigation li.active a {
      color: white;
      text-shadow: 1px 1px 0 black; }

#content {
  background: #412a1d;
  min-height: 500px;
  padding: 20px; }
  #content a {
    color: #98908c; }

#primary {
  padding-top: 5px;
  width: 450px; }

#footer {
  background: url("/images/application/footer.gif") no-repeat;
  color: #444444;
  font-size: 16px;
  height: 45px;
  padding-top: 20px;
  text-align: center; }
  #footer a {
    color: #505050; }

#errors {
  margin: 12px 0; }
  #errors ul {
    list-style-type: disc;
    margin-left: 20px; }
  #errors p {
    font-weight: bold; }

.iPhoneCheckContainer {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden; }

.iPhoneCheckContainer input {
  position: absolute;
  top: 5px;
  left: 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

.iPhoneCheckContainer label {
  white-space: nowrap;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: block;
  height: 27px;
  position: absolute;
  width: auto;
  top: 0;
  padding-top: 5px;
  overflow: hidden; }

.iPhoneCheckContainer, .iPhoneCheckContainer label {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none; }

.iPhoneCheckDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

label.iPhoneCheckLabelOn {
  color: white;
  background: url("/images/application/checkbox/on.png?1284697268") no-repeat;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px; }

label.iPhoneCheckLabelOn span {
  padding-left: 8px; }

label.iPhoneCheckLabelOff {
  color: #8b8b8b;
  background: url("/images/application/checkbox/off.png?1284697268") no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0; }

label.iPhoneCheckLabelOff span {
  padding-right: 8px; }

.iPhoneCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url("/images/application/checkbox/slider_left.png?1284697268") no-repeat;
  padding-left: 3px; }

.iPhoneCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url("/images/application/checkbox/slider_right.png?1284697268") no-repeat right 0; }

.iPhoneCheckHandleCenter {
  height: 100%;
  width: 100%;
  background: url("/images/application/checkbox/slider_center.png?1284697268"); }

.iOSCheckContainer {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden; }

.iOSCheckContainer input {
  position: absolute;
  top: 5px;
  left: 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

.iOSCheckContainer label {
  white-space: nowrap;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: block;
  height: 27px;
  position: absolute;
  width: auto;
  top: 0;
  padding-top: 5px;
  overflow: hidden; }

.iOSCheckContainer, .iOSCheckContainer label {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none; }

.iOSCheckDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

label.iOSCheckLabelOn {
  color: white;
  background: url("/images/application/checkbox/on.png?1284697268") no-repeat;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px; }

label.iOSCheckLabelOn span {
  padding-left: 8px; }

label.iOSCheckLabelOff {
  color: #8b8b8b;
  background: url("/images/application/checkbox/off.png?1284697268") no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0; }

label.iOSCheckLabelOff span {
  padding-right: 8px; }

.iOSCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url("/images/application/checkbox/slider_left.png?1284697268") no-repeat;
  padding-left: 3px; }

.iOSCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url("/images/application/checkbox/slider_right.png?1284697268") no-repeat right 0; }

.iOSCheckHandleCenter {
  height: 100%;
  width: 100%;
  background: url("/images/application/checkbox/slider_center.png?1284697268"); }

#promo {
  float: right;
  margin-top: 5px;
  width: 370px; }
  #promo h2 {
    margin-left: 10px; }
    #promo h2 a {
      color: white; }
  #promo #name {
    margin: 12px 0 12px 10px; }
  #promo #more {
    float: left;
    font-size: 14px;
    margin: 7px 0 0 7px; }
  #promo #sponsor {
    background: rgba(150, 150, 150, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 365px; }
    #promo #sponsor span {
      font-weight: bold;
      padding: 0 0 0 10px;
      margin-top: 20px; }
      #promo #sponsor span img {
        margin: -5px 10px 0 0;
        float: right; }

#sponsors {
  background: #261b13;
  color: #685f5a;
  font-size: 18px;
  font-weight: bold;
  height: 96px;
  padding: 0;
  margin: 30px -20px 5px -20px;
  text-align: center; }
  #sponsors img {
    float: left;
    margin: 10px 7px 0 0; }
  #sponsors img:first-child {
    margin-left: 17px;
    margin-right: 3px !important; }
  #sponsors img#heroku {
    margin-top: 7px; }
  #sponsors img#monk {
    margin-top: 12px; }
  #sponsors span {
    display: block;
    font-size: 16px;
    margin: 0 10px 0 25px;
    padding-top: 10px;
    text-align: left;
    font-weight: normal; }

#recruiters {
  color: #776d67;
  font-size: 12px;
  line-height: 14px;
  margin-top: 3px; }

#primary.tshirt {
  width: 100% !important; }
  #primary.tshirt h1 {
    font-size: 18px;
    margin: 0 0 10px 0; }
  #primary.tshirt img#tshirt {
    border: 10px solid #261b13; }
  #primary.tshirt p#details strong {
    display: inline;
    margin-left: 14px; }
  #primary.tshirt p#details strong.first {
    margin-left: 0; }
  #primary.tshirt form {
    border: 1px solid #3f3229;
    margin: 20px 0 10px 0;
    padding: 10px 10px 0 10px;
    width: 280px; }
  #primary.tshirt table {
    float: left;
    margin: 12px 12px 0 0; }
    #primary.tshirt table td {
      vertical-align: none;
      font-size: 16px;
      font-weight: bold;
      padding: 0 0 -12px 0; }
  #primary.tshirt input[type=hidden] {
    display: none; }

.screenshot {
  border: 10px solid #261b13;
  height: 267px;
  margin: 12px 0;
  width: 345px; }
  .screenshot:hover {
    border: 10px solid #1b140d; }

.watch {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #2f2016;
  color: white;
  font-weight: bold;
  height: 33px;
  margin-left: 10px;
  padding: 6px 0 0 0;
  text-align: center;
  width: 69px; }
  .watch a {
    text-decoration: none; }

#podcast_episode #details {
  float: right;
  margin: 5px 0 0 0;
  width: 480px; }
  #podcast_episode #details h1 {
    font-size: 32px; }
  #podcast_episode #details h2 {
    margin: 24px 0 -6px 0; }
  #podcast_episode #details #number {
    font-weight: bold;
    margin: 10px 0 -3px 0; }
#podcast_episode .twitter {
  margin: 21px 0 0 140px;
  vertical-align: top; }
#podcast_episode #joyent {
  padding-top: 24px;
  margin: -10px 0 0 10px;
  clear: left;
  font-size: 14px;
  width: 245px; }
  #podcast_episode #joyent img {
    margin: -3px 8px 0 0;
    float: right; }
#podcast_episode #actions {
  clear: left;
  margin: -10px 0 0 10px; }
  #podcast_episode #actions img {
    float: left;
    margin: 5px 10px 0 0; }
  #podcast_episode #actions img#itunes {
    margin: 9px 10px 0 0; }
  #podcast_episode #actions img#feed_stats {
    margin: 9px 10px 0 0; }
#podcast_episode .watch_now {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #2f2016;
  float: left;
  font-weight: bold;
  height: 30px;
  padding: 10px 0 0 0;
  text-align: center;
  width: 121px; }
  #podcast_episode .watch_now a {
    color: #eeeeee;
    display: block;
    height: 30px;
    text-decoration: none;
    width: 121px; }
    #podcast_episode .watch_now a:hover {
      color: white; }

#newrelic {
  background: rgba(150, 150, 150, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  margin-bottom: 40px; }
  #newrelic span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto 20px auto;
    width: 405px; }
    #newrelic span img {
      margin: -9px 5px 0 0;
      float: right; }

ul#filter {
  height: 29px;
  margin: 70px 0 15px 0;
  padding: 0; }
  ul#filter li {
    display: inline;
    float: left;
    height: 29px;
    margin: 0 10px 0 0;
    width: 67px; }
    ul#filter li form {
      display: inline;
      margin: 6px 0 0 0 !important;
      padding: 0 !important;
      width: 250px; }
    ul#filter li input {
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      display: inline !important;
      font-size: 16px;
      height: 18px;
      margin: 0;
      padding: 5px 6px 5px 10px;
      width: 220px; }
    ul#filter li img {
      display: none;
      margin-left: 5px; }
    ul#filter li span {
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      background: #2f2016;
      color: #98908c;
      cursor: pointer;
      display: block;
      font-weight: bold;
      height: 24px;
      padding: 5px 0 0 0;
      text-align: center;
      text-decoration: none;
      width: 67px; }
      ul#filter li span:hover {
        border: 1px solid #555555; }
  ul#filter li:last-child {
    margin: 0 !important;
    width: 240px !important; }
  ul#filter li.current span {
    border: 1px solid #555555; }

#noresults {
  display: none;
  float: left;
  font-weight: bold;
  margin: 280px auto 0 auto;
  position: absolute;
  text-align: center;
  width: 860px;
  z-index: 2; }

#episodes {
  border-top: 1px solid #3f3229;
  margin-top: 10px;
  min-height: 830px; }
  #episodes .episode {
    padding: 15px 0;
    height: 115px;
    border-bottom: 1px solid #3f3229; }
    #episodes .episode h3 {
      color: white;
      font-size: 18px;
      margin-top: 4px;
      line-height: 1.2em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis; }
    #episodes .episode a {
      color: white;
      text-decoration: none; }
      #episodes .episode a:hover {
        text-decoration: underline; }
    #episodes .episode p {
      font-size: 16px;
      margin-top: 11px; }
    #episodes .episode .small_screenshot {
      float: left;
      margin: 0 10px 0 0; }
    #episodes .episode .details {
      margin-left: 150px; }
    #episodes .episode .watch {
      margin-top: -3px;
      font-size: 14px;
      height: 25px;
      padding-top: 8px;
      width: 69px; }
      #episodes .episode .watch a {
        color: #98908c;
        display: block;
        height: 25px;
        width: 69px; }
        #episodes .episode .watch a:hover {
          color: white; }

#members td {
  padding-right: 50px; }
  #members td img {
    margin-right: -45px; }

.member img {
  border: 5px solid #261b13; }
  .member img:hover {
    border: 5px solid #1b140d; }

#members_intro {
  margin-left: 15px; }

.save input {
  display: inline; }

.profile {
  margin-bottom: 15px; }
  .profile #basics {
    width: 300px; }
    .profile #basics p {
      color: #776d67; }
      .profile #basics p strong {
        color: #98908c; }
  .profile #avatar img {
    border: 10px solid #261b13;
    margin: 15px 0 0 0; }
  .profile #stats {
    list-style-image: url("/images/application/favicon.png");
    margin: 18px 0 18px 22px; }
    .profile #stats li {
      margin: 8px 0; }
  .profile #links_and_projects {
    float: right;
    width: 560px; }
  .profile #about {
    padding: 10px 0;
    margin: 15px 0 40px 0;
    border-top: 1px dashed #50392a;
    border-bottom: 1px dashed #50392a; }
  .profile #links {
    margin: 12px 0 40px 0; }
    .profile #links li {
      margin: 12px 0; }
      .profile #links li img {
        margin-right: 3px;
        vertical-align: middle; }

.projects span {
  color: #776d67;
  display: block;
  margin: 3px 0; }
.projects li {
  margin: 12px 0; }

#projects_intro {
  margin-bottom: 12px; }

#users_with_projects {
  clear: left;
  margin-top: -10px; }
  #users_with_projects .user {
    height: 36px;
    margin: 40px 0 20px 0; }
    #users_with_projects .user .name {
      padding-top: 10px;
      font-size: 24px; }
      #users_with_projects .user .name a {
        text-decoration: none; }
        #users_with_projects .user .name a:hover {
          text-decoration: underline; }
    #users_with_projects .user img {
      border: 5px solid #261b13;
      float: left;
      margin: 0 10px 0 0; }
      #users_with_projects .user img:hover {
        border: 5px solid #1b140d; }
  #users_with_projects li .projects {
    margin-left: 57px; }

#featured_project {
  background: #261b13;
  border: 5px solid #261b13;
  height: 50px;
  margin: 24px 0;
  padding: 3px 12px; }
  #featured_project span {
    display: block;
    float: left;
    font-size: 30px;
    height: 50px;
    line-height: 40px;
    width: 280px; }
  #featured_project a {
    color: white;
    text-decoration: none; }
  #featured_project p {
    margin: 3px 0; }
  #featured_project h2 {
    margin: 3px 0 0 0; }
    #featured_project h2 a:hover {
      text-decoration: underline; }
  #featured_project #refresh {
    filter: "alpha(opacity: $opacity * 100)";
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    float: right;
    margin: 14px -3px 0 0; }

.column {
  float: left;
  width: 500px; }

.clear {
  clear: both; }

.panel {
  float: left;
  margin-right: 50px;
  width: 380px; }
  .panel input[type=text],
  .panel input[type=password],
  .panel textarea {
    width: 360px; }

.new_podcast input[type=text],
.edit_podcast input[type=text] {
  width: 848px; }
.new_podcast input[type=password],
.edit_podcast input[type=password] {
  width: 700px; }
.new_podcast textarea,
.edit_podcast textarea {
  width: 848px; }
.new_podcast #podcast_movie_size,
.edit_podcast #podcast_movie_size {
  width: 200px; }
.new_podcast #podcast_movie_duration,
.edit_podcast #podcast_movie_duration {
  width: 200px; }

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

#team h1 {
  margin-left: 150px; }
#team h1 + p {
  margin: -6px 0 32px 150px; }
#team .member {
  margin: 12px 0 24px 0;
  min-height: 128px;
  padding-bottom: 12px; }
  #team .member .twitter-follow-button {
    display: block !important;
    float: right;
    margin: 3px 0 0 0; }
  #team .member h2 a {
    color: #fff;
    text-decoration: none; }
    #team .member h2 a:hover {
      text-decoration: underline !important; }
  #team .member img {
    float: left;
    margin: 0 10px 12px 0; }
  #team .member p {
    margin-bottom: 0 !important; }
  #team .member .profile {
    margin: 0 0 0 150px; }

.homepage .twitter-follow-button {
  display: block !important;
  margin: 12px 0; }
