---
http_interactions:
- request:
    method: get
    uri: http://api.meetup.com/photos.json/?group_urlname=sdruby&key=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Meetup-Server:
      - api1.int.meetup.com
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '198'
      X-Ratelimit-Reset:
      - '1356231600'
      X-Oauth-Scopes:
      - basic
      X-Accepted-Oauth-Scopes:
      - basic
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! '{"results":[{"photo_urls":["http:\/\/photos2.meetupstatic.com\/photos\/event\/8\/8\/6\/600_127202182.jpeg","http:\/\/photos4.meetupstatic.com\/photos\/event\/8\/9\/0\/600_127202192.jpeg","http:\/\/photos3.meetupstatic.com\/photos\/event\/8\/a\/e\/600_127202222.jpeg","http:\/\/photos4.meetupstatic.com\/photos\/event\/8\/c\/2\/600_127202242.jpeg","http:\/\/photos2.meetupstatic.com\/photos\/event\/4\/d\/5\/a\/600_127219802.jpeg","http:\/\/photos1.meetupstatic.com\/photos\/event\/4\/d\/6\/e\/600_127219822.jpeg","http:\/\/photos2.meetupstatic.com\/photos\/event\/4\/d\/7\/8\/600_127219832.jpeg","http:\/\/photos2.meetupstatic.com\/photos\/event\/4\/d\/8\/2\/600_127219842.jpeg","http:\/\/photos2.meetupstatic.com\/photos\/event\/4\/d\/f\/0\/600_127219952.jpeg","http:\/\/photos2.meetupstatic.com\/photos\/event\/5\/4\/d\/0\/600_127221712.jpeg"],"album_id":"8885652","thumb_urls":["http:\/\/photos2.meetupstatic.com\/photos\/event\/8\/8\/6\/thumb_127202182.jpeg","http:\/\/photos2.meetupstatic.com\/photos\/event\/8\/9\/0\/thumb_127202192.jpeg","http:\/\/photos3.meetupstatic.com\/photos\/event\/8\/a\/e\/thumb_127202222.jpeg","http:\/\/photos2.meetupstatic.com\/photos\/event\/8\/c\/2\/thumb_127202242.jpeg","http:\/\/photos4.meetupstatic.com\/photos\/event\/4\/d\/5\/a\/thumb_127219802.jpeg","http:\/\/photos1.meetupstatic.com\/photos\/event\/4\/d\/6\/e\/thumb_127219822.jpeg","http:\/\/photos2.meetupstatic.com\/photos\/event\/4\/d\/7\/8\/thumb_127219832.jpeg","http:\/\/photos4.meetupstatic.com\/photos\/event\/4\/d\/8\/2\/thumb_127219842.jpeg","http:\/\/photos4.meetupstatic.com\/photos\/event\/4\/d\/f\/0\/thumb_127219952.jpeg","http:\/\/photos2.meetupstatic.com\/photos\/event\/5\/4\/d\/0\/thumb_127221712.jpeg"],"member_url":"http:\/\/www.meetup.com\/members\/9314458","albumtitle":"SD
        Ruby Monthly Meeting","captions":["Guyren talking about Postgres. ","","","","","","","","",""],"created":"Thu
        Jun 07 23:06:46 EDT 2012","photo_url":"http:\/\/photos1.meetupstatic.com\/photos\/event\/8\/8\/6\/global_127202182.jpeg","link":"http:\/\/www.meetup.com\/sdruby\/photos\/8885652\/","group_id":"1738874","descr":"Guyren
        talking about Postgres. "},{"photo_urls":["http:\/\/photos2.meetupstatic.com\/photos\/event\/5\/d\/b\/8\/600_125063992.jpeg","http:\/\/photos2.meetupstatic.com\/photos\/event\/5\/d\/c\/c\/600_125064012.jpeg","http:\/\/photos3.meetupstatic.com\/photos\/event\/5\/e\/3\/0\/600_125064112.jpeg","http:\/\/photos1.meetupstatic.com\/photos\/event\/5\/e\/5\/8\/600_125064152.jpeg","http:\/\/photos3.meetupstatic.com\/photos\/event\/5\/e\/d\/0\/600_125064272.jpeg","http:\/\/photos4.meetupsta[...]
