---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/mokolabs/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Remaining:
      - '4984'
      Last-Modified:
      - Thu, 16 Aug 2012 17:34:40 GMT
      X-Ratelimit-Limit:
      - '5000'
      Etag:
      - ! '"6db9bfbf072c08ef83b3367f9bd24816"'
    body:
      encoding: US-ASCII
      string: ! '[{"full_name":"mokolabs/calendar_helper","open_issues_count":0,"owner":{"avatar_url":"https://secure.gravatar.com/avatar/6e2dbee8af46ad50428dc106b9a10096?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","gravatar_id":"6e2dbee8af46ad50428dc106b9a10096","login":"mokolabs","url":"https://api.github.com/users/mokolabs","id":444},"has_downloads":true,"homepage":"http://rubyonrailsworkshops.com","mirror_url":null,"pushed_at":"2010-01-01T19:35:16Z","forks":1,"forks_count":1,"language":"Ruby","svn_url":"https://github.com/mokolabs/calendar_helper","html_url":"https://github.com/mokolabs/calendar_helper","created_at":"2010-01-01T19:28:20Z","has_issues":false,"description":"Calendar-generating
        plugin for Ruby","has_wiki":true,"watchers":1,"size":104,"fork":true,"updated_at":"2011-10-04T01:03:20Z","clone_url":"https://github.com/mokolabs/calendar_helper.git","ssh_url":"git@github.com:mokolabs/calendar_helper.git","git_url":"git://github.com/mokolabs/calendar_helper.git","name":"calendar_helper","url":"https://api.github.com/repos/mokolabs/calendar_helper","open_issues":0,"private":false,"id":455367,"watchers_count":1},{"full_name":"mokolabs/criticalmasscansuckit.com","open_issues_count":0,"owner":{"avatar_url":"https://secure.gravatar.com/avatar/6e2dbee8af46ad50428dc106b9a10096?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","gravatar_id":"6e2dbee8af46ad50428dc106b9a10096","login":"mokolabs","url":"https://api.github.com/users/mokolabs","id":444},"has_downloads":true,"homepage":"http://criticalmasscansuckit.com/","mirror_url":null,"pushed_at":"2010-12-30T18:39:30Z","f[...]
