%h1=pt "Forgot Password?"

= form_for :user, :url => password_reset_path do |f|
  - flash.each do |key, value|
    .flash
      &bull;
      = value

  %p
    %label Enter your email address and we'll send you a new password.
    = f.text_field :email

  %p
    = f.submit "Send New Password", :class => "submit"
