-t "Members"

%p#members_intro
  SD Ruby is an awesome group of developers, designers, and all-around cool people.

%table#members
  - @users.each do |user|
    %tr.member
      %td= link_to(image_tag(user.avatar.url(:small), :size => "48x48"), user)
      %td= link_to user.full_name, user
      - unless user.neighborhood.blank?
        %td= user.neighborhood
      - else
        %td ...
      - if not user.projects.empty?
        %td= pluralize(user.projects.count, 'project')
      - else
        %td ...
      
%br/
