%h1=t "Members"

%table#members
  - @users.each do |user|
    %tr.member
      %td= link_to(image_tag(user.avatar.url(:small), :size => "48x48"), user)
      %td= link_to user.full_name, user
      %td= user.neighborhood
      - if user.github_projects?
        %td= pluralize(YAML::load(user.github_projects || 0).size, 'project')
      - else
        %td ...
      
%br/
