%h1=t "Member Signup"

= error_messages_for :user

- form_for(@user, :html => { :multipart => true }) do |f|
  = render :partial => 'form', :locals => {:f => f}
  
  %p
    = f.submit "Sign Up"

%p= link_to 'Back', users_path
