#sponsors
  %span Sponsors:
  = link_to(image_tag("application/ucsd.gif", :size => "230x49", :alt => "UCSD"), "#")
  = link_to(image_tag("application/joyent.gif", :size => "161x49", :alt => "Joyent"), "#")
  = link_to(image_tag("application/peepcode.gif", :size => "106x49", :alt => "Peepcode"), "#")
