%h1=t "TODO put logo here"

- @widgets.group_by(&:column).each do |column, widgets|
  %div{:class => "column"}
    - widgets.each do |widget|
      %div
        = Haml::Engine.new(widget.view).render(self)
        = link_to("Edit", edit_widget_path(widget)) if current_user.is_admin?
        = link_to('Destroy', widget, :confirm => 'Are you sure?', :method => :delete) if current_user.is_admin?

%br/

%p= link_to 'New widget', new_widget_path if current_user && current_user.is_admin?
