#sponsors
  %span SD Ruby is sponsored by…
  = link_to(image_tag("application/ucsd.gif", :size => "190x40", :alt => "UCSD"), "http://www-cse.ucsd.edu")
  = link_to(image_tag("application/monk.png", :size => "273x35", :alt => "Monk Development"), "http://www.monkdevelopment.com")
  = link_to(image_tag("application/joyent.png", :size => "173x49", :alt => "Joyent"), "http://joyent.com")
  = link_to(image_tag("application/peepcode.png", :size => "179x50", :alt => "Peepcode"), "http://peepcode.com")
