
#primary.tshirt

  %h1=pt "SD Ruby T-Shirts"

  %p
    %strong Thanks for your order!

  %p
    If you're going to be at RailsConf, you can grab your shirt from Patrick Crowley in Las Vegas.
    %br/
    Otherwise, just pick up your shirt at the May 14th SD Ruby meeting.

  %p
    %strong Questions?
    Email <a href="mailto:patrick@mokolabs.com">patrick@mokolabs.com</a>.

