// It's mixin time!!!
@mixin border_radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius; }

@mixin opacity($opacity) {
  filter: "alpha(opacity: $opacity * 100)";
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  opacity: $opacity; }

// Reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

// Tags

body {
  background: black;
  color: #98908c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  color: white;
  font-size: 24px;
  margin: 12px 0; }

h2 {
  color: white;
  font-size: 18px;
  margin: 0 0 0 0; }

form {
  margin: 12px 0;
  input, textarea, select {
    color: #666666;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 3px 0 12px 0;
    padding: 3px; }
  select {
    margin: 0;
    padding: 0; }
  input[type=submit] {
    color: black; }
  input[type=hidden] {
    display: none; }
  label {
    display: block;
    font-size: 16px; }
  .check_box input, label {
    display: inline; }
  .check_box input[type=hidden] {
    display: none; }
  .select {
    margin: -9px 0 0 0;
    select {
      display: inline; } }
  input[type=text],
  input[type=password],
  textarea {
    @include border_radius(3px);
    border: none;
    padding: 6px;
    width: 305px; }
  #podcast_screenshot {
    color: #98908c;
    font-size: 14px; } }

p + h2 {
  padding-top: 18px; }

p {
  line-height: 20px;
  margin: 12px 0;
  strong {
    display: block; } }

a {
  color: white;
  &:hover {
    text-decoration: none; } }

td {
  padding: 12px;
  font-size: 24px;
  vertical-align: middle; }

// Layout

#page {
  margin: 20px auto 30px auto;
  width: 900px; }

#login {
  color: #bf2022;
  height: 30px;
  text-align: left;
  font-size: 14px;
  margin: 10px 10px 5px 5px;
  a {
    color: #98908c;
    font-weight: normal; }
  a.name {
    color: #bf2022;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline; } }
  img {
    border: 1px solid #333333;
    margin: -5px 5px 0 0;
    float: left;
    &:hover {
      border: 1px solid #222222; } }
  .text {
    display: block;
    font-weight: bold;
    float: left;
    padding: 0 0 0 0; } }

#header {
  background: white no-repeat;
  height: 133px;
  #logo {
    float: left;
    margin: 20px 0 0 30px; }
  #upcoming {
    color: #312218;
    float: left;
    font-size: 16px;
    height: 100px;
    margin: 30px 0 0 170px;
    width: 235px;
    span {
      color: #666666;
      font-size: 14px; }
    #date {
      color: #81161e;
      font-size: 20px;
      font-weight: bold;
      margin: 3px 0; }
    a {
      color: #97908a; }
    a#venue {
      color: #312218;
      text-decoration: none;
      &:hover {
        text-decoration: underline; } }
    #actions {
      font-size: 14px;
      margin: 3px 0 0 0;
      a {
        margin: 0 3px 0 0; }
      img {
        float: right;
        margin: 0 30px 0 0; } } }
  #podcast {
    float: right;
    margin: 15px 15px 0 0; } }

#slogan {
  background: #3e0a06;
  color: #c60d22;
  font-size: 18px;
  font-weight: bold;
  height: 36px;
  padding: 20px; }

#navigation {
  background: #2f2016;
  font-size: 18px !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  ul {
    height: 34px;
    padding-left: 20px;
    li {
      border-right: 1px solid #1e1610;
      display: block;
      float: left;
      padding: 8px 20px;
      text-shadow: 2px 2px 2px #222222;
      a {
        color: #98908c;
        text-decoration: none;
        &:hover {
          color: white;
          text-shadow: 1px 1px 0 black; } } } }
  li.active {
    background: #412a1d;
    a {
      color: white;
      text-shadow: 1px 1px 0 black; } } }

#content {
  background: #412a1d;
  min-height: 500px;
  padding: 20px;
  a {
    color: #98908c; } }

#primary {
  padding-top: 5px;
  width: 450px; }

#footer {
  background: url("/images/application/footer.gif") no-repeat;
  color: #444444;
  font-size: 14px;
  height: 45px;
  padding-top: 10px;
  text-align: center;
  a {
    color: #505050; } }

// Errors

#errors {
  margin: 12px 0;
  ul {
    list-style-type: disc;
    margin-left: 20px; }
  p {
    font-weight: bold; } }

// iPhone-style checkboxes

.iPhoneCheckContainer {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden; }
  .iPhoneCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  .iPhoneCheckContainer label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
  .iPhoneCheckContainer, .iPhoneCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; }

.iPhoneCheckDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

label.iPhoneCheckLabelOn {
  color: white;
  background: url('/images/application/checkbox/on.png?1284697268') no-repeat;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px; }
  label.iPhoneCheckLabelOn span {
    padding-left: 8px; }
label.iPhoneCheckLabelOff {
  color: #8b8b8b;
  background: url('/images/application/checkbox/off.png?1284697268') no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0; }
  label.iPhoneCheckLabelOff span {
    padding-right: 8px; }

.iPhoneCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url('/images/application/checkbox/slider_left.png?1284697268') no-repeat;
  padding-left: 3px; }

.iPhoneCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url('/images/application/checkbox/slider_right.png?1284697268') no-repeat right 0; }

.iPhoneCheckHandleCenter {
  height: 100%;
  width: 100%;
  background: url('/images/application/checkbox/slider_center.png?1284697268'); }

.iOSCheckContainer {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden; }
  .iOSCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  .iOSCheckContainer label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
  .iOSCheckContainer, .iOSCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; }

.iOSCheckDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

label.iOSCheckLabelOn {
  color: white;
  background: url('/images/application/checkbox/on.png?1284697268') no-repeat;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px; }
  label.iOSCheckLabelOn span {
    padding-left: 8px; }
label.iOSCheckLabelOff {
  color: #8b8b8b;
  background: url('/images/application/checkbox/off.png?1284697268') no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0; }
  label.iOSCheckLabelOff span {
    padding-right: 8px; }

.iOSCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url('/images/application/checkbox/slider_left.png?1284697268') no-repeat;
  padding-left: 3px; }

.iOSCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url('/images/application/checkbox/slider_right.png?1284697268') no-repeat right 0; }

.iOSCheckHandleCenter {
  height: 100%;
  width: 100%;
  background: url('/images/application/checkbox/slider_center.png?1284697268'); }

// Home

#promo {
  float: right;
  margin-top: -5px;
  width: 370px;
  h2 {
    margin-left: 10px;
    a {
      color: white; } }
  #name {
    margin: 12px 0 12px 10px; }
  #more {
    float: left;
    font-size: 14px;
    margin: 7px 0 0 7px; } }

#sponsors {
  background: #261b13;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  color: #685f5a;
  font-size: 18px;
  font-weight: bold;
  height: 96px;
  padding: 0;
  margin: 30px -20px 5px -20px;
  text-align: center;
  img {
    float: left;
    margin: 10px 7px 0 0; }
  img:first-child {
    margin-left: 17px;
    margin-right: 3px !important; }
  span {
    display: block;
    font-size: 16px;
    margin: 0 10px 0 25px;
    padding-top: 10px;
    text-align: left;
    font-weight: normal; } }

#recruiters {
  color: #776d67;
  font-size: 12px;
  line-height: 14px;
  margin-top: 3px; }

#primary.tshirt {
  width: 100% !important;
  h1 {
    font-size: 18px;
    margin: 0 0 10px 0; }
  img#tshirt {
    border: 10px solid #261b13; }
  p#details {
    strong {
      display: inline;
      margin-left: 14px; }
    strong.first {
      margin-left: 0; } }
  form {
    border: 1px solid #3f3229;
    margin: 20px 0 10px 0;
    padding: 10px 10px 0 10px;
    width: 280px; }
  table {
    float: left;
    margin: 12px 12px 0 0;
    td {
      vertical-align: none;
      font-size: 16px;
      font-weight: bold;
      padding: 0 0 -12px 0; } }
  input[type=hidden] {
    display: none; } }

// Podcast

.screenshot {
  border: 10px solid #261b13;
  height: 267px;
  margin: 12px 0;
  width: 345px;
  &:hover {
    border: 10px solid #1b140d; } }

.watch {
  @include border_radius(10px);
  background: #2f2016;
  color: white;
  font-weight: bold;
  height: 33px;
  margin-left: 10px;
  padding: 6px 0 0 0;
  text-align: center;
  width: 69px;
  a {
    text-decoration: none; } }

#podcast_episode {
  #details {
    float: right;
    margin: 5px 0 0 0;
    width: 480px;
    h1 {
      font-size: 32px; }
    h2 {
      margin: 24px 0 -6px 0; }
    #number {
      font-weight: bold;
      margin: 10px 0 -3px 0; } }
  #actions {
    margin: 0 0 0 10px;
    img {
      float: left;
      margin: 5px 10px 0 0; }
    img#itunes {
      margin: 9px 10px 0 0; }
    img#feed_stats {
      margin: 9px 10px 0 0; } }
  .watch_now {
    @include border_radius(10px);
    background: #2f2016;
    font-weight: bold;
    height: 30px;
    padding: 10px 0 0 0;
    text-align: center;
    width: 121px;
    a {
      color: #eeeeee;
      display: block;
      height: 30px;
      text-decoration: none;
      width: 121px;
      &:hover {
        color: white; } } } }

ul#filter {
  height: 29px;
  margin: 70px 0 15px 0;
  padding: 0;
  li {
    display: inline;
    float: left;
    height: 29px;
    margin: 0 10px 0 0;
    width: 77px;
    form {
      display: inline;
      margin: 6px 0 0 0 !important;
      padding: 0 !important;
      width: 250px;
    }
    input {
      @include border_radius(20px);
      display: inline !important;
      font-size: 16px;
      height: 18px;
      margin: 0;
      padding: 5px 6px 5px 10px;
      width: 195px;
    }
    img {
      display: none;
      margin-left: 5px;
    }
    span {
      @include border_radius(20px);
      background: #2f2016;
      color: #98908c;
      cursor: pointer;
      display: block;
      font-weight: bold;
      height: 24px;
      padding: 5px 0 0 0;
      text-align: center;
      text-decoration: none;
      width: 77px;
      &:hover {
        border: 1px solid #555555; } } }
  li:last-child {
    margin: 0 !important;
    width: 240px !important;
  }
  li.current {
    span {
      border: 1px solid #555555; } } }

#noresults {
  display: none;
  float: left;
  font-weight: bold;
  margin: 280px auto 0 auto;
  position: absolute;
  text-align: center;
  width: 860px;
  z-index: 2;
}

#episodes {
  border-top: 1px solid #3f3229;
  margin-top: 10px;
  min-height: 830px;
  .episode {
    padding: 15px 0;
    height: 115px;
    border-bottom: 1px solid #3f3229;
    h3 {
      color: white;
      font-size: 18px;
      margin-top: 4px;
      line-height: 1.2em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis; }
      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline; } } 
    p {
      font-size: 16px;
      margin-top: 11px; }
    .small_screenshot {
      float: left;
      margin: 0 10px 0 0; }
    .details {
      margin-left: 150px; }
    .watch {
      margin-top: -3px;
      font-size: 14px;
      height: 25px;
      padding-top: 8px;
      width: 69px;
      a {
        color: #98908c;
        display: block;
        height: 25px;
        width: 69px;
        &:hover {
          color: white; } } } } }

// Members

#members {
  td {
    padding-right: 50px;
    img {
      margin-right: -45px; } } }

.member {
  img {
    border: 5px solid #261b13;
    &:hover {
      border: 5px solid #1b140d; } } }

#members_intro {
  margin-left: 15px; }

// Member profile

.save {
  input {
    display: inline; } }

.profile {
  margin-bottom: 15px;
  #basics {
    width: 300px;
    p {
      color: #776d67;
      strong {
        color: #98908c; } } }
  #avatar {
    img {
      border: 10px solid #261b13;
      margin: 15px 0 0 0; } }
  #stats {
    list-style-image: url("/images/application/favicon.png");
    margin: 18px 0 18px 22px;
    li {
      margin: 8px 0; } }
  #links_and_projects {
    float: right;
    width: 560px; }
  #about {
    padding: 10px 0;
    margin: 15px 0 40px 0;
    border-top: 1px dashed #50392a;
    border-bottom: 1px dashed #50392a; }
  #links {
    margin: 12px 0 40px 0;
    li {
      margin: 12px 0;
      img {
        margin-right: 3px;
        vertical-align: middle; } } } }

// Projects

.projects {
  span {
    color: #776d67;
    display: block;
    margin: 3px 0; }
  li {
    margin: 12px 0; } }

#projects_intro {
  margin-bottom: 12px; }

#users_with_projects {
  clear: left;
  margin-top: -10px;
  .user {
    height: 36px;
    margin: 40px 0 20px 0;
    .name {
      padding-top: 10px;
      font-size: 24px;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline; } } }
    img {
      border: 5px solid #261b13;
      float: left;
      margin: 0 10px 0 0;
      &:hover {
        border: 5px solid #1b140d; } } }
  li {
    .projects {
      margin-left: 57px; } } }

#featured_project {
  background: #261b13;
  border: 5px solid #261b13;
  height: 50px;
  margin: 24px 0;
  padding: 3px 12px;
  span {
    display: block;
    float: left;
    font-size: 30px;
    height: 50px;
    line-height: 40px;
    width: 280px; }
  a {
    color: white;
    text-decoration: none; }
  p {
    margin: 3px 0; }
  h2 {
    margin: 3px 0 0 0;
    a {
      &:hover {
        text-decoration: underline; } } }
  #refresh {
    @include opacity(0.5);
    float: right;
    margin: 14px -3px 0 0; } }

// Miscellaneous

.column {
  float: left;
  width: 500px; }

.clear {
  clear: both; }

.panel {
  float: left;
  margin-right: 50px;
  width: 380px;
  input[type=text],
  input[type=password],
  textarea {
    width: 360px; } }

// New/Edit podcast

.new_podcast,
.edit_podcast {
  input[type=text] {
    width: 848px; }
  input[type=password] {
    width: 700px; }
  textarea {
    width: 848px; }
  #podcast_movie_size {
    width: 200px; }
  #podcast_movie_duration {
    width: 200px; } }

// Unselectable
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}