- t "Episode 036: The Return of Kevin Clark"

#featured_episode

  #details
    #number Episode 036
    %h1 The Return of Kevin Clark

    %p
      Kevin Clark takes a break from Powerset to give a full-throttle talk on using Merb as a JSON-RPC service, god, gem2rpm, and heckle.
  
    .watch_now
      = link_to "Watch now", podcast_path(36)

  .screenshot
    = link_to(image_tag("application/episode_36.png", :size => "345x266", :alt => "Episode 36"), podcast_path(36))

  #actions
    = link_to "More episodes from the SD Ruby Podcast&raquo;", podcasts_path
