#footer
  SD Ruby is run by 
  = link_to("Patrick Crowley", "http://mokolabs.com/") + ","
  with help from
  = link_to("these awesome people", team_path) + "."
  Logo designed by 
  = link_to("Luke Mysse", "http://www.lukemysse.com/") + "."