#footer
  SD Ruby is run by 
  = link_to("Patrick Crowley", "http://mokolabs.com/") + ","
  with help from
  = link_to("Rob Kaufman", "http://notch8.com/") + "."
  Logo designed by 
  = link_to("Luke Mysse", "http://crossgrain.com/") + "."
