#slogan
  %span
    Share ideas, code, and your love for Ruby.
    Show off your latest project, gems and plugins, or something you've learned. 
    Open to all skill levels&hellip; just show up and join the fun!
