#slogan
  %span
    -# Share your love for Ruby with others.
    -# Show off a new app or gem. Share a new trick you learned.
    -# %br
    -# Open to all skill levels&hellip; just show up and join the fun!

    SD Ruby is a great way to meet and collaborate with other Ruby developers in San Diego.
    %br
    Open to all skill levels&hellip; just show up and join the fun!