!!! Strict
%html{html_attrs}
  %head
    = title :site => "SD Ruby", :separator => "-"
    %meta{"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
    = stylesheet_link_tag :all
  %body
    = display_flash_using :div
    = yield
